.logo {
    width: 80px;
}

.logo-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0px;
}

.logo-name {
    font-size: 40px;
    font-weight: bold;
    color: rgb(125, 58, 10);
    align-items: center;

}

.facebook-logo, .instagram-logo, .twitter-logo {
    width: 40px;
    cursor: pointer;
}

.social-group {
    margin-right: 20px;
    display: flex;
    padding: 0;
    gap:30px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: burlywood;
    align-items: center;
    margin: 0;
    border-radius: 10px;    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}


.croissant-img {
    /* height: 300px; */
    /* width: auto; */
    width: 500px;
    max-height: 300px;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.croissant-gorup {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.espresso-img, .cappuccino-img, .chocolate-img, .milk-img{
    /* height: 300px; */
    width: 500px;
    /* width: auto; */
    max-height: 300px;
    border-radius: 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

    
}


.croissant {
    font-size: 38px;
    /* color: rgb(71, 4, 4); */
    color: black;
    padding: 15px;
    border-radius: 10px;
    background-color: burlywood;
    font-weight: 900;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.cappuccino, .espresso, .milk, .chocolate {
    font-size: 38px;
    /* color: rgb(71, 4, 4); */
    color: black;
    padding: 15px;
    border-radius: 10px;
    background-color: burlywood;
    font-weight: 900;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9), 0 6px 20px 0 rgba(0,0,0,0.19);

    
}

.product-group {
    display: flex;
    align-self: center;
    justify-content: center;
}


.milk-group, .espresso-group, .chocolate-group, .cappuccino-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.product-group {
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
}

.products {
    color: white;
    margin-left: 100px;
    font-size: 60px;
    font-weight: 900px;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:40px;
    font-weight: 900;
}

.order {
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 25px;
    padding: 20px;

}

.up {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 40px;
    padding: 50px;
    border-radius: 30px;
    margin: 50px 10px 50px 10px;
    background-color: rgb(224, 186, 137);
}

.body-order {
    font-size: 25px;
}

.company {
    font-size: 30px;
    color: rgb(125, 58, 10);
    font-weight: bold;
}
.order-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-order {
    font-weight: bold;
    font-size: 60px;
}

.order-two {
    display: flex;
    gap: 12px;
    align-items: center;
}

.review-group {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-right: 200px;
    padding: 30px;
    border-radius: 30px;
    border: 5px solid rgb(59, 33, 2);
    gap: 10px;
    background-color: burlywood;
}

.review {
    align-self: flex-start;
    font-size: 40px;
}

.reviewer {
    align-self: flex-end;
    font-size: 30px;

}


.button {
    background-color: rgb(158, 104, 34);
    height: 80px;
    width: 600px;
    margin-right: 200px;
    font-size: 55px;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: white;
}

.button:hover {
    background-color: rgb(80, 50, 11);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    /* background-color: burlywood; */

    cursor: pointer;

}
.footer {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(174, 171, 171);
    background-color: black;
    color: white;
    margin: 0px;
    border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 30px
}

.background-image {
    filter: blur(10px);
}

body {
    
    background-image: url("img/background2.jpg");
    background-size: contain; 
    /* height: 10000px; */
    width: fit-content;
    height: fit-content;
    
    /* height: auto;  */
    /* width: max-content;  */
    /* height: max-content; */
    /* filter: blur(50) */
    /* background-repeat: no-repeat; */
}


.logo2 {
    width: 60px;
}